
@{
    ViewBag.Title = "Categoria";
}

<div>
    <div style="display: inline-list-item;  vertical-align: top 30%">
        @Html.Partial("Listado")
    </div>
    <div  style="display: inline-list-item;  vertical-align: top">
        @Html.Partial("Formulario")
    </div>
</div>
 
